
img {
	max-width: 100%;
	max-height: 100%;
	cursor: pointer;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

span {
	color: lightgray;
}

.flag {
	max-height: 350px;
}

.flag-container {
  text-align: center;
}

.errorMessage {
	text-align: center;
}

img:hover {
 -webkit-box-shadow: 0px 0px 30px 0px cyan !important;
-moz-box-shadow:    0px 0px 30px 0px cyan !important;
box-shadow:         0px 0px 30px 0px cyan !important;

}

.map {
	width: 100%;
  margin-right: 10% !important;
  box-shadow: none;
}
.map:hover {
  -webkit-box-shadow: none !important;
 -moz-box-shadow:    none !important;
 box-shadow:         none !important;
}


.question {
  text-align: center;
}

.progressLabel {
	margin-top: 500px;
}

.flag-row {
	margin-bottom: 30px;
	height: 350px;
}
